<!-- header.html (공통 헤더) -->
<header th:fragment="header">
    <div style="background-color: #e3f2fd;">
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <div class="col-md-3 mb-2 mb-md-0">
                    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                        <img th:src="@{/images/Logo.png}" style="height: 4rem;">
                    </a>
                </div>
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a th:href="@{/home}" class="nav-link px-2">메인</a></li>
                    <li><a th:href="@{/post/ranking}" class="nav-link px-2">포인트 순위</a></li>
<!--                    <li><a th:href="@{/post/usehistory}" class="nav-link px-2">후원금 사용내역</a></li>-->
                    <li><a th:href="@{/post/donation}" class="nav-link px-2">후원하기</a></li>
<!--                    <li><a th:href="@{/post/service}" class="nav-link px-2">봉사하기</a></li>-->
<!--                    <li><a th:href="@{/post/event}" class="nav-link px-2">이벤트</a></li>-->
                    <li><a th:href="@{/post/announce}" class="nav-link px-2">공지사항</a></li>
                </ul>
                <div class="col-md-3 text-end">
                    <form th:action="@{/post/create}" method="get" style="display: inline;">
                        <button type="submit" class="btn btn-outline-primary me-2">게시물 등록하기</button>
                    <form th:action="@{/login}" method="get" style="display: inline;">
                        <button type="submit" class="btn btn-outline-primary me-2">로그인</button>
                    </form>
                    <form th:action="@{/signup}" method="get" style="display: inline;">
                        <button type="submit" class="btn btn-primary">회원가입</button>
                    </form>
                </div>
            </header>
        </div>
    </div>
</header>
