<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>봉사하기</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <div style="background-color: #e3f2fd;">
        <div class="container">
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                  <img th:src="@{/images/Logo.png}" style="height: 4rem;">
                </a>
            </div>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
              <li><a th:hrf="@{/home}" class="nav-link px-2">메인</a></li>
              <li><a th:hrf="@{/ranking}" class="nav-link px-2">후원 및 봉사 순위</a></li>
              <li><a th:hrf="@{/usehistory}" class="nav-link px-2">후원금 사용내역</a></li>
              <li><a th:hrf="@{/patronage}" class="nav-link px-2">후원하기</a></li>
              <li><a th:hrf="@{/service}" class="nav-link px-2 link-secondary">봉사하기</a></li>
              <li><a th:hrf="@{/event}" class="nav-link px-2">이벤트</a></li>
              <li><a th:hrf="@{/announcement}" class="nav-link px-2">공지사항</a></li>
            </ul>
            <div class="col-md-3 text-end">
              <form th:action="@{/login}" method="get" style="display: inline;">
                  <button type="submit" class="btn btn-outline-primary me-2">로그인</button>
              </form>
              <form th:action="@{/signup}" method="get" style="display: inline;">
                  <button type="submit" class="btn btn-primary">회원가입</button>
              </form>
            </div>
            </header>
        </div>
    </div>
    <div class="d-flex gap-3 justify-content-center">
      <span class="badge d-flex align-items-center p-1 pe-2 text-success-emphasis bg-success-subtle border border-success-subtle rounded-pill">
        <img class="rounded-circle me-1" width="24" height="24" src="images/earth.png" alt="">전체
      </span>
      <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
        <img class="rounded-circle me-1" width="24" height="24" src="images/children.png" alt="">아동,청소년
      </span>
      <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
        <img class="rounded-circle me-1" width="24" height="24" src="images/old-people.png" alt="">어르신
      </span>
      <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
        <img class="rounded-circle me-1" width="24" height="24" src="images/disability.png" alt="">장애인
      </span>
      <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
        <img class="rounded-circle me-1" width="24" height="24" src="images/woman.png" alt="">가족,여성
      </span>
      <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
        <img class="rounded-circle me-1" width="24" height="24" src="images/girl.png" alt="">다문화
      </span>
      <span class="badge d-flex align-items-center p-1 pe-2 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
        <img class="rounded-circle me-1" width="24" height="24" src="images/dog.png" alt="">동물
      </span>
    </div>
        <div class="container" style="margin-top: 3rem;">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/donation_1.jpg" class="bd-placeholder-img card-img-top" width="100%" height="280" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <div class="card-body">
                  <p class="card-text">취약계층의 아이들이 학원을 다닐 수 있도록 도와주세요.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary">더보기</button>
                    </div>
                    <small class="text-body-secondary">누적 후원 3,137,000원</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/donation_2.jpg" class="bd-placeholder-img card-img-top" width="100%" height="280" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <div class="card-body">
                  <p class="card-text">생계가 어려운 독거 노인들을 도와주세요.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary">더보기</button>
                    </div>
                    <small class="text-body-secondary">누적 후원 1,202,000원</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/donation_3.jpg" class="bd-placeholder-img card-img-top" width="100%" height="280" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <div class="card-body">
                  <p class="card-text">버려진 유기견들을 도와주세요.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary">더보기</button>
                    </div>
                    <small class="text-body-secondary">누적 후원 841,000원</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/donation_1.jpg" class="bd-placeholder-img card-img-top" width="100%" height="280" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <div class="card-body">
                  <p class="card-text">취약계층의 아이들이 학원을 다닐 수 있도록 도와주세요.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary">더보기</button>
                    </div>
                    <small class="text-body-secondary">누적 후원 3,137,000원</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/donation_2.jpg" class="bd-placeholder-img card-img-top" width="100%" height="280" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <div class="card-body">
                  <p class="card-text">생계가 어려운 독거 노인들을 도와주세요.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary">더보기</button>
                    </div>
                    <small class="text-body-secondary">누적 후원 1,202,000원</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/donation_3.jpg" class="bd-placeholder-img card-img-top" width="100%" height="280" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <div class="card-body">
                  <p class="card-text">버려진 유기견들을 도와주세요.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary">더보기</button>
                    </div>
                    <small class="text-body-secondary">누적 후원 841,000원</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/donation_1.jpg" class="bd-placeholder-img card-img-top" width="100%" height="280" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <div class="card-body">
                  <p class="card-text">취약계층의 아이들이 학원을 다닐 수 있도록 도와주세요.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary">더보기</button>
                    </div>
                    <small class="text-body-secondary">누적 후원 3,137,000원</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/donation_2.jpg" class="bd-placeholder-img card-img-top" width="100%" height="280" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <div class="card-body">
                  <p class="card-text">생계가 어려운 독거 노인들을 도와주세요.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary">더보기</button>
                    </div>
                    <small class="text-body-secondary">누적 후원 1,202,000원</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="images/donation_3.jpg" class="bd-placeholder-img card-img-top" width="100%" height="280" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <div class="card-body">
                  <p class="card-text">버려진 유기견들을 도와주세요.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary">더보기</button>
                    </div>
                    <small class="text-body-secondary">누적 후원 841,000원</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <footer>
            <div class="col">
                <div class="card shadow-sm">
                <img src="images/ad.jpeg" class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                </div>
            </div>
        </footer>
  </body>
</html>
